{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>About Us</title>
</head>

  <!-- Navbar -->
    <!-- Banner -->
    <div class="banner" style="background-image: url(../../static/main/images/homepage_background.png);  background-color: #312a50;">
    <div class="section no-pad-bot">
      <div class="container">        
        <h1 class="center white-text" style="font-family: 'PT Sans'; margin-bottom: 6%;">About Us </h1>                
        <div style="text-align: center; height: 10rem;">          
             <a href="{% url 'buysite' %}" class="reddishblack-text btn-large white  waves-effect link-button">Buy a Site</a> 
              <a href="{% url 'sellsite' %}" class="reddishblack-text btn-large white  waves-effect link-button">Sell a Site</a>                                 
        </div>     
      </div>
    </div>
  </div>
 
  <!-- Banner -->
<div class="card hoverable" style="width: 95%;margin: auto;padding: 1.5rem;border-radius: 0.9rem;">
  <div style="margin: 2rem;padding-bottom:2px;padding-left:2px;box-shadow: 2px 6px #312a50 ;">
      <h3 style="font-weight: 550;">About Us</h3>      
  </div>
  <div style="margin-bottom: 1rem;">
    <p class="content">FlipEazy is created by people who felt there was a gap for all the Online Business enthusiasts who wanted to Buy & Sell low-end websites ranging from anywhere between $50-$1000. We wanted to fill that gap through FlipEazy which aims to be a reliable marketplace to Buy & Sell Quality Low-end websites.  </p><br>
      <p class="content">
      We have an efficient process setup right from vetting the website, doing our due diligence to listing the website on the marketplace. We assure you of the quality and at the same time we charge a fixed 10% commission, which is pretty low when compared to our competitors.
      </p>
  </div>
</div>
<div style="width: 90%;margin: auto;">  
  <div class="card" style="padding: 1.5rem;background-color: rgb(243, 244, 245);">
    <h3 class="center" style="font-weight: 650;" class="">Meet the Experts</h3>
        <hr style="width: 20%; border-color:#00c4b5;margin:auto;">
    <div style="margin-bottom: 4em;">
  <h2 style="text-align: center;font-weight: 500;margin-top: 50px;">Team Lead</h2>
  <div class="row ">
    <div class="col offset-m4 " style="text-align: center;">
        <img class="pic" src="../../static/main/images/vivek.jpeg" style="max-width: 55%;">
        <p class="names ">Vivek Bhat</p><br>         
    </div>    
  </div>
  <h2 style="text-align: center;font-weight: 500;">Web Development</h2>
  <div class="row" style="margin: auto;text-align: center;">
    <div class="col s12 m4 ">
        <img class="pic" src="../../static/main/images/teja.jpeg" style="max-width: 60%; ">
        <p class="names">Sai Teja Suggala</p><br>         

    </div> 
     <div class="col s12 m4">
        <img class="pic" src="../../static/main/images/sid.jpeg" style="max-width: 56%; ">
        <p class="names">Siddhartha Pothukuchi</p><br>         
    </div> 
     <div class="col s12 m4 ">
        <img class="pic" src="../../static/main/images/Milind.jpeg" style="max-width: 60%;">
        <p class="names">Milind Kesar Thummala</p><br>         
    </div> 
  </div>
</div>
</div>
</div>


  <style type="text/css">
    .pic {
    height: auto;
    border-radius: 40px;
    box-shadow: 0px 4px 5px 0px #312a50;
    margin: 2rem 2rem; 
  }
  .names{
    font-size: 24px;
    font-weight:600;
    margin-left: 3%;
    margin-bottom: 0.5rem;
  }
  .social li{
    transition: transform 0.6s;
  }
  .social li:hover{
    transform: scale(1.2);
  }
    .content{
      text-indent: 9rem;
      font-weight: 480;      
      line-height: 1.6;
    }
    
    @media only screen and (min-width:640px){
      .content{
        font-size: 1.7rem;
      }
    }
  </style>
  {% endblock %}