<!DOCTYPE html>
<html>
<head>
  <title>Automation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/main/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/main/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>
<body style="background-color: rgba(205,205,205,0.01);font-family: PT Sans;">
  <nav class=" deep-purple" role="navigation">
    <div class="nav-wrapper container"style=" width: 100%; ">
      <a  href="{% url 'home' %}" class=" brand-logo white-text" style="font-family: Rancho;font-size: 3.5rem;margin-top:0.35rem;"><img src="../../static/main/images/FlipEasy.png" width="222" height="55"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="{% url 'blog' %}">Blog</a> </li>
        <!-- <li><a class="white-text" href="{% url 'marketplace' %}">Marketplace</a></li> -->
        {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="white-text" href="{% url 'about_us' %}">About Us</a></li>
        <li><a class="white-text" href="{% url 'contact_us' %}">Contact Us</a></li>
        <li style="line-height: 3rem; margin-top:0.75rem;"><a class="deep-purple-text white right modal-trigger" href="{% url 'valuationtool' %}" style="font-weight: bold;border-radius:0.3rem;" >Free Valuation Tool</a></li>
      </ul>

      <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="sidenav">
        <li style=" background-color: #312a50;border-radius: 2rem;"><a class="white-text center" href="#" style="font-weight: 500;font-family: Rancho;font-size: 20px;">FlipEazy</a></li>
        <li><a class="center" href="{% url 'home' %}">Home</a></li>
        <li><a class="center" href="{% url 'blog' %}">Blogs</a></li>
        <!-- <li><a class="center" href="#">MarketPlace</a></li> -->
        {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="center" href="{% url 'about_us' %}">About Us</a></li>
        <li><a class="white-text" href="{% url 'contact_us' %}">Contact Us</a></li>
        <li><a class="center" href="{% url 'valuationtool' %}">Free Valuation Tool</a></li>
      </ul>
    </div>
  </nav>
    <div class="parallax"><img src="../../static/main/images/Automation.jpg" width="100%"  alt="How to build an e-mail list?" ></div><br><br>
    <h1 class="center"style="color:#263b5e;font-weight: 500;"><strong>How to Leverage Marketing Automation to Increase conversion for your E-commerce business?</strong></h1>
    <div class="container" style="margin-top: 3rem;">
      <p style="line-height: 1.5;font-size:1.6rem;">We’ve all come across this term, Marketing Automation.</p>

        <p id="content">What exactly does the term mean?</p>
        <p id="content">Well,</p>
        <p id="content">Marketing automation is nothing but an enabler that helps in managing the various marketing processes across various channels automatically.</p>
        <p id="content">This is usually used by companies to automate their online campaigns in order to increase their conversions and revenue in a much more efficient way.</p>
        <p id="content">How is it useful for your E-commerce business?</p>
        <p id="content">As you know,</p>
        <p id="content">The product you sell or the business you are in will have a decent number of competitors and in order to stay relevant,  your marketing has to be top-notch.</p>
        <p id="content">Marketing automation can help you perform this task in a much more effective and efficient manner. This can actually help you reach your audience in a more personalized way, which in turn can help you capture quality leads.</p>
        <p id="content">The beauty of marketing automation is you do not have to manage everything manually. It helps the owners take care of the other aspects of the business while the automation tool does its job. </p>
        <p id="content">There are plenty of tools that you can use which have similar features, but the point here is not about which tool is right for you, it’s about how you can use this tool scale effectively.</p>
        <p id="content">So let us dive in,</p>
        
        
        <h2 id="side-headings">How can you use marketing automation to your advantage?</h2>

        <p id="side-headings">1. Customer Retention</p>
        
        <p id="content">We all know getting new prospects and leads are important. But what’s more important is retaining your old customers. If you are ignorant about retaining your customers you are losing a lot of money on the table.</p>
        <p id="content">Sometimes, there might be a situation, where the customer has purchased from you before but they are not active anymore or keep showing a decline in interest. </p>
        <p id="content">How can the Marketing Automation tool tackle this? </p>
        <p id="content">Well, With tools like these you can actually segment people based on their previous activity and understand what they purchase and why they have not come back, so on and so forth.</p>
        <p id="content">Once you understand this it becomes easy to reach out to them in a more personalized manner. You can start offering them discounts on various products, this can act as a trigger and might persuade them to buy from you.  </p>
        <p id="content">You can also leverage this strategy and make use of these emails as an opportunity to cross-sell or up-sell products in order to increase your average order value. </p>
       
                      
        <p id="side-headings">2. Behavioral Segmentation</p>
        
        <p id="content">It refers to the process of segregating the audience based on their engagement. Marketing automation actually helps you reinforce triggers based on the visitor’s behavior or engagement with the site. </p>
        <p id="content">There are 3 types of Behavior:</p>
        
        <p id="side-headings" style="font-size: 1.4rem;"><i class="material-icons">play_arrow</i>Purchase Behavior:</p>
        <p id="content"> It actually helps understand how the users that visit your website are actually behaving. If you could use a “Heatmap” you can understand where the users are clicking what buttons are they clicking on etc.</p>
        <p id="content">Once you understand the purchase behavior you can actually reach out to them in a much more personalized way.</p>
        <p id="content"><strong>For Example:</strong> If a customer has added the product to his cart but does not make a purchase, we usually term it as an abandoned cart, what is required for that customer is a trigger like a discount to make a purchase.</p>
        
        <p id="side-headings" style="font-size: 1.4rem;"><i class="material-icons">play_arrow</i>Occasional Buying:</p>
        <p id="content">We all tend to purchase when there is a special occasion or something of that sort. People usually like to gift themselves something on their birthday, anniversary, etc. </p>
        <p id="content">It becomes important for you to understand your customer’s occasion and according to that, you have to automate your email campaign and persuade them to take action by offering them a special discount.</p>
        <p id="side-headings" style="font-size: 1.4rem;"><i class="material-icons">play_arrow</i>Loyal Customers: </p>
        <p id="content">There are customers who genuinely like your products and they wouldn’t shy away from making a purchase from your store. You know that acquiring a new customer is not an easy job, so ensure that you do not ignore the loyal ones.</p>
        <p id="content">As an Owner, It is important to understand why are buying frequently from you and ensure that you group all these loyal customers and engage with a loyalty program. After that, you can analyze the performance of the loyalty program using automation tools.</p>

        
        <p id="side-headings">3. Lead Origination :</p>
        <p id="content">Your visitors might come to your site through various channels like:</p>
        <p id="content"><i class="material-icons">play_arrow</i> Google Search(Organic)</p>
        <p id="content"><i class="material-icons">play_arrow</i>Paid Advertising</p>
        <p id="content"><i class="material-icons">play_arrow</i>Social Media profiles</p>
        <p id="content"><i class="material-icons">play_arrow</i>Content Marketing</p>
        <p id="content"><i class="material-icons">play_arrow</i>Email Marketing</p>


        
        <p  id="content" >Since there are multiple channels, it becomes important to understand where is the maximum amount of traffic is coming from. </p> 
        
        
        <p id="content">You can actually analyze this through google analytics. </p>
        <p id="content">Once you understand where the majority of the traffic or leads have been originating, then you use automation tools to concentrate on the important channels that drive the majority of the traffic. </p>
        

        <p id="side-headings">4. On-boarding CRM Software</p>

        
        <p  id="content" >Customer relationship management, as the name suggests helps in understanding how you interact with your customers and at the same time help you manage data by keeping a track of your leads, marketing, etc. </p> 
        
        
        <p id="content"> When combined with automation tools you can actually boost your sales, improve efficiency, and help you interact with your customers in a much more personalized manner. </p>
        <p id="content">There are 3 types of CRM software: </p>
        <p id="content"><i class="material-icons">play_arrow</i><strong>Operational CRM</strong></p>
        <p id="content"><i class="material-icons">play_arrow</i><strong>Collaborative CRM</strong></p>
        <p id="content"><i class="material-icons">play_arrow</i><strong>Analytical CRM</strong></p>

        <p id="content">If you are looking to streamline your sales and marketing processes you can implement operational CRM.</p>
        <p id="content">Within Operational CRM there are 3 types of automation: </p>
       
        <p id="side-headings" style="font-size: 1.4rem;">Marketing Automation: </p>
        <p id="content">This takes care of your marketing campaigns and lets you automate those tasks that are repetitive like sending welcome e-mails, attract new leads, integrating pop-up forms, etc. </p>
        <p id="side-headings" style="font-size: 1.4rem;">Service Automation: </p>
        <p id="content"> It aims at improving the customer experience and customer satisfaction. This involves setting up chatbots that lets you offer customer support 24/7, setting up FAQ pages to clarify customer queries, and also involves setting up ticketing systems to solve customer problems. </p>
        <p id="side-headings" style="font-size: 1.4rem;">Sales Automation: </p>
        <p id="content"> This aims at improving the sales side of the business by automating various tasks like Inventory management, Order tracking, scheduling calls, at the same time helps in analyzing and forecasting sales.</p>
        <p id="side-headings">5. Social Media Automation</p>
        <p id="content"> If you are in the E-commerce business it is a necessity that you have a presence in all the social media platforms.</p>
        <p class="content">At the same time, it is necessary to understand which social media platform is the most used by your audience and if you keep that in mind it becomes easy for you to run targeted ads to the right audience.</p>
        <p class="content">Social media automation is really powerful and it can help you with the following: </p>
              
        <p id="content"><i class="material-icons">play_arrow</i>Analyze the engagement on each of your posts.</p>
        <p id="content"><i class="material-icons">play_arrow</i>Helps in scheduling content</p>
        <p id="content"><i class="material-icons">play_arrow</i>Helps you build an email list in a much more efficient manner.</p>
        <p id="content"><i class="material-icons">play_arrow</i>The ads can be optimized and automated.</p>
        <p id="content"><i class="material-icons">play_arrow</i>Understanding of the marketing performance</p>
        <p id="content"><i class="material-icons">play_arrow</i>Chatbots can be used to respond to customer queries</p>
        
                 
        <div style="margin: 2rem 0rem; padding: 1rem;border-radius: 1rem;border:4px solid #312a50;margin-top: 1rem;">
          <p id="side-headings">CONCLUSION :</p>
          <p id="content">If you are running an e-commerce business and think that you are going to do everything by yourself just to save some money, you are going to remain in the same place as you are, because it is impossible to scale if you do not take marketing automation seriously. </p>
          <p id="content">When Marketing Automation and CRM are integrated into your business then it becomes easy for you to streamline your business and make it look organized and at the same you can scale your business by marketing it to the right people which in turn will boost sales.</p>                      
        </div>        
    </div>
    <br>
    <h4 class="center" style="font-weight: 500; margin-bottom: 2rem;">Check Out Our Recent Posts</h4>
 <div class="row">        
          <div class="col s12 m12 l4">
              <div class="card hoverable">
              <div class="card-image">
                 <img src="../../static/main/images/Lev content.jpg"  id="0" onmouseover="dp(this.id)" ontouchstart="dp(this.id)" ontouchend="hd(this.id)" onmouseout="hd(this.id)"    width="100%">
                  <a href="{% url 'leverage'%}"class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
              </div>
              <div class="card-content">
                <p class="grey-text">19 Sept 2020</p>                
                <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
            </div>
             <div class="card-action">
                <a href="{% url 'leverage'%}" class="deep-orange-text deep-purple white-text btn" style="font-weight: 750;">Read More</a>
              </div>
          </div>
          </div>
          
          <div class="col s12 m12 l4">
              <div class="card hoverable">

              <div class="card-image">
                 <img src="../../static/main/images/blog1_thumb.jpg"  id="1" onmouseover="dp(this.id)" ontouchstart="dp(this.id)" ontouchend="hd(this.id)" onmouseout="hd(this.id)"  width="100%">
                  <a href="{% url 'onlinebusiness'%}" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large">chrome_reader_mode</i></a>
              </div>
              <div class="card-content">
                <p class="grey-text">19 Sept 2020</p>               
                <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
            </div>
             <div class="card-action">
                <a href="{% url 'onlinebusiness'%}" class="deep-orange-text btn deep-purple white-text" style="font-weight: 750;">Read More</a>
              </div>
          </div>
          </div>
          <div class="col s12 m12 l4">
              <div class="card hoverable">

              <div class="card-image">
                 <img src="../../static/main/images/MARK.jpg"  id="2" onmouseover="dp(this.id)" ontouchstart="dp(this.id)" ontouchend="hd(this.id)" onmouseout="hd(this.id)"  width="100%">
                  <a href="{% url 'whymarketplace'%}" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
              </div>
              <div class="card-content">
                <p class="grey-text">19 Sept 2020</p>                
                <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
            </div>
             <div class="card-action">
                <a href="{% url 'whymarketplace'%}" class="deep-orange-text btn white-text deep-purple " style="font-weight: 750;">Read More</a>
              </div>
          </div>
          </div>
  </div>

  <footer class="page-footer deep-purple" >
    <div class="">
      <div class="row">
        <div class="col l1"></div>
        <div class="col l4 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l1"></div>
        <div class="col l4 s12">
          <form action="{% url 'newsletter' %}" method="POST">
            {% csrf_token %}
          <div class="card hoverable" style="padding: 2rem 1rem;background-color: #312a50;">
            <h6 style="font-size: 1.6rem;">Subscribe to Our Newsletter</h6>
            <div class="input-field ">
              <i class="material-icons prefix">mail</i>
              <input id="subs" type="text" class="validate">
              <label for="subs">Enter Your Email Address</label>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="container">
          
      <ul style="display: flex;justify-content: center;">
          <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/google-logo.png"/></a></li>
          <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/facebook-new.png"/></a></li>
          <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/linkedin.png"/></a></li>        
      </ul>
        </div>
    <div class="footer-copyright">
      <div class="container">
        <h6 class="center">All the copyrights are reserved by FlipEazy</h6>
      
      </div>
    </div>
  </footer>
  
 
<style type="text/css">
  
  #side-headings{
      font-weight: 900;
      color:#312a50;
      margin-top: 1.2rem;
      font-size: 1.7rem;
  }
#content{
  line-height: 1.9;
  margin-top: 0.8rem;
}
@media only screen and (max-width: 800px){
  h1{
    font-size:3.5rem !important;
    justify-items: auto;
  }
}
@media only screen and (max-width: 400px){
  h1{
    font-size:2.8rem !important;
    justify-items: auto;
  }
}
</style>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
<script type="text/javascript">
  var elem = document.querySelector('.sidenav');
var instance = new M.Sidenav(elem);



document.addEventListener('DOMContentLoaded', function() {
 var elems = document.querySelectorAll('.carousel');
 var instances = M.Carousel.init(elems, options);
 
});
function myFunction(x) 
  {
             if (x.matches)
              { // If media query matches  
                  document.querySelector("#blogs").style.display="none";
                  document.querySelector("#mob-blog").style.display="block";
                 for(var i=0;i<ele.length;i++)
                 {
                     ele[i].style.display="none";
                     eles[i].style.display="none";
                     ic[i].style.display="none"
                 }                            
              }    
              else
              {
                  document.querySelector("#blogs").style.display="block";
                  document.querySelector("#mob-blog").style.display="none";
              }
    }
function dp(id){
  ele[id].style.display="block";
  eles[id].style.display="block";
  ic[id].style.display="block";   
}
function hd(id){
   ele[id].style.display="none";
  eles[id].style.display="none";
  ic[id].style.display="none";  
}
var ele=document.getElementsByClassName("mcard-content");
var eles=document.getElementsByClassName("mcard-action");
var ic=document.getElementsByClassName("card-icon");

var x = window.matchMedia("(max-width: 950px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction)



</script>
</html>
