{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- CSS  --> 
  <link rel="stylesheet" type="text/css" href="../../static/main/css/preloader.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/main/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link href="../../static/main/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
</head>

<body style="background-color: rgba(205,205,205,0.01);font-family: PT Sans;" onload="fun()">
  <div class="page-loader">
    <div class="container">
   
      <div class="loader"></div> 
    </div>
</div>
  <nav class=" deep-purple" role="navigation">
    <div class="nav-wrapper container"style=" width: 100%; ">
      <a  href="{% url 'home' %}" class=" brand-logo white-text" style="font-family: Rancho;font-size: 3.5rem;margin-top:0.35rem;"><img src="../../static/main/images/FlipEasy.png" width="208" height="auto"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="{% url 'blog' %}">Blog</a> </li>
        <!-- <li><a class="white-text" href="{% url 'marketplace' %}">Marketplace</a></li> -->
        <li><a class="white-text" href="{% url 'about_us' %}">About us</a></li>
        <li><a class="white-text" href="{% url 'contact_us' %}">Contact Us</a></li>
       {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li style="line-height: 3rem; margin-top:0.75rem;"><a class="deep-purple-text white right modal-trigger" href="{% url 'valuationtool' %}" style="font-weight: bold;border-radius:0.3rem;" >Free Valuation Tool</a></li>
      </ul>
      <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="sidenav">
        <li style=" background-color: #312a50;border-radius: 2rem;"><a class="white-text center" href="#" style="font-weight: 500;font-family: Rancho;font-size: 20px;">FlipEazy</a></li>
        <li><a class="center" href="{% url 'home' %}">Home</a></li>
        <li><a class="center" href="{% url 'blog' %}">Blogs</a></li>
        <li><a class="center" href="{% url 'about_us' %}">About us</a></li>
        <li><a class="center" href="{% url 'contact_us' %}">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li><a class="center" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="center" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="center" href="{% url 'valuationtool' %}">Free Valuation Tool</a></li>
        <!-- <li><a class="center" href="#">MarketPlace</a></li> -->
        
        
      </ul>
    </div>
  </nav>
  

  {% block content %}{% endblock %}



  <footer class="page-footer deep-purple" style="margin-top: 1rem;">
    <div class="">
      <div class="row">
        <div class="col l1"></div>
        <div class="col l4 s12">
          <div class="card hoverable" style="padding: 2rem 1rem;background-color: #312a50;">
            <h6 style="font-size: 1.6rem;">Newsletter</h6>
            <h6 class="orange-text">Exlcusive Website Listings and Offers</h6>
            <div class="input-field ">
              <i class="material-icons prefix">mail</i>
              <input  id="subs" type="text" class="validate white-text">
              <label for="subs">Enter Your Email Address</label>
          </div>
          </div>
        </div>
        <div class="col l1"></div>
        <div class="col l4 s12">
            <h4>Quick Links</h4>
            <a class="white-text" href="{% url 'blog' %}"><p>Blog</p></a>
            <a class="white-text" href="{% url 'buysite' %}"><p>Buy a Site</p></a>
            <a class="white-text" href="{% url 'sellsite' %}"><p>Sell a Site</p></a>
            <a class="white-text" href="{% url 'login' %}"><p>Login</p></a>
            <a class="white-text" href="{% url 'valuationtool' %}"><p>Valuation Tool</p></a>            
        </div>

      </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">        
          <ul  style="display: flex;justify-content: center;margin:auto;">
            <li><a class="white-text"><img src="../../static/main/images/instagram.svg" width="36" /></a></li>
            <li><a class="white-text" ><img src="../../static/main/images/facebook.svg" width="36" /></a></li>
            <li><a class="white-text"><img src="https://img.icons8.com/fluent/42/000000/linkedin.png"/></a></li>        
            <li><a class="white-text"><img src="https://img.icons8.com/color/42/000000/twitter--v1.png"/></a></li>    
            <li><a href="mailto:admin@flipeazy.com"><i class="material-icons" style="font-size: 2.6rem;">mail</i></a></li>
          </ul>  
        <h6 class="center">All the copyrights are reserved by FlipEazy</h6>    
    </div>
  </footer>



   <!-- Scripts-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
   <script type="text/javascript">
      var elem = document.querySelector('.sidenav');
   var instance = new M.Sidenav(elem);
 
 
 
   document.addEventListener('DOMContentLoaded', function() {
     var elems = document.querySelectorAll('.carousel');
     var instances = M.Carousel.init(elems, options);
   });
 
       function fun(){
    document.querySelector(".page-loader").style.display="none";
  }

     $(window).load(function(){
                $('.page-loader').fadeOut();                                                                        
            });
   </script>
   </body>
 </html>