{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
	<title>Our Blog</title>
	
  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="../../static/main/css/blog.css">
  <style type="text/css">
  	.column{
  		float: left;
  		width: 50%;
    }
    .banner{
  width: 100%;
  height: auto;
  background-color: #312a50;
  object-fit: cover;
  background-image: url(../../static/main/images/homepage_background.png)!important;
 }
 .link-button{
  font-weight: bold; 
  display: inline-block;
  margin:1.5rem; 
  padding:0 2.2rem;
  border-radius: 0.5rem !important;  
}
  </style>
  
</head>
    <div class="banner">
    <div class="section no-pad-bot">
      <div class="container">        
        <h1 class="center white-text" style="font-family: 'Pridi', serif;margin-bottom: 6%;">Our Blog</h1>                
        <div style="text-align: center; height: 10rem;">          
             <a href="{% url 'buysite' %}" class="reddishblack-text btn-large white  waves-effect link-button">Buy a Site</a> 
              <a href="{% url 'sellsite' %}" class="reddishblack-text btn-large white  waves-effect link-button">Sell a Site</a>                                 
        </div>     
      </div>
    </div>
  </div>
   <br>
<h3 class="center" style="font-weight: 600; margin-bottom: 4rem;">Check Out Our Recent Posts</h3>
<div id="blogs">
  <div class="col s12 m7" id="page1">    
    <div class="card horizontal hoverable nut"style="width: 93%;margin:  1.4rem auto;">
      <div class="card-image">
        <a href="{% url 'automation' %}"><img src="../../static/main/images/Automation.jpg"></a>
        
      </div>
      <div class="card-stacked">
        <div class="card-content">
           <p class="grey-text text-darken-2">12 Jan 2021</p> <br>
            <p ><b>How can you use marketing automation to your advantage?</b></p>
              <p>Marketing automation is nothing but an enabler that helps in managing the various marketing processes across various channels automatically [...]</p> 
        </div>
        <div class="card-action">
          <a href="{% url 'automation' %}" class="deep-orange-text btn white-text deep-purple right" style="font-weight: 750;">Read More</a>
        </div>
      </div>
    </div>
     <div class="card horizontal hoverable nut"style="width: 93%;margin:  1.4rem auto;">
      <div class="card-image">
        <a href="{% url 'email_list' %}"><img src="../../static/main/images/MAIL.jpg"></a>        
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <p class="grey-text text-darken-2">12 Jan 2021</p> <br>
            <p ><b>Are you using a Personal or a Business E-mail ID?</b></p> 
            <p>This might sound completely unnecessary to a newbie, but the open rate of your mail by the receiver depends on how you identify yourself in the mail [...]</p>
        </div>
        <div class="card-action">
          <a href="{% url 'email_list' %}" class="deep-orange-text btn white-text deep-purple right" style="font-weight: 750;">Read More</a>
        </div>
      </div>
    </div>
     <div class="card horizontal hoverable nut"style="width: 93%;margin:  1.4rem auto;">
      <div class="card-image">
        <a href="{% url 'factors' %}"><img src="../../static/main/images/FACTORS.jpg"></a>
        
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <p class="grey-text text-darken-2">12 Jan 2021</p> <br>
            <p ><b>What Factors Influence a Websites Value ?</b></p> 
            <p>For a profitable exit, it is important to know the factors that actually determine the value of a website [...]</p>
        </div>
        <div class="card-action">
          <a href="{% url 'factors' %}" class="deep-orange-text btn white-text deep-purple right" style="font-weight: 750;">Read More</a>
        </div>
      </div>
    </div>
     <div class="card horizontal hoverable nut"style="width: 93%;margin:  1.4rem auto;">
      <div class="card-image">
        <a href="{% url 'leverage' %}"><img src="../../static/main/images/Lev content.jpg"></a>
        
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <p class="grey-text text-darken-2">12 Jan 2021</p> <br>
            <p><b>Is content-creation really that powerful?</b></p>
            <p>When you buy a website, your main fear is you do not want your rankings and traffic to diminish.
              <b>What do you do to keep up this stability?</b> [...]</p> 
        </div>
        <div class="card-action">
          <a href="{% url 'leverage' %}" class="deep-orange-text btn white-text deep-purple right" style="font-weight: 750;">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <div style="display: none;" id="page2">
    <div class="col s12 m7">    
    <div class="card horizontal hoverable nut"style="width: 93%;margin:  1.4rem auto;">
      <div class="card-image">
        <a href="{% url 'onlinebusiness' %}"><img src="../../static/main/images/blog1_thumb.jpg"></a>
        
      </div>
      <div class="card-stacked">
        <div class="card-content">
           <p class="grey-text text-darken-2">12 Jan 2021</p> <br>
            <p ><b>Why Should You Own an Online Business?</b></p>
              <p>More and More people are pivoting towards newer Business Opportunities and one of them being “Online Business”. [...]</p> 
        </div>
        <div class="card-action">
          <a href="{% url 'onlinebusiness' %}" class="deep-orange-text btn white-text deep-purple right" style="font-weight: 750;">Read More</a>
        </div>
      </div>
    </div>
     <div class="card horizontal hoverable nut"style="width: 93%;margin:  1.4rem auto;">
      <div class="card-image">
        <a href="{% url 'whymarketplace' %}"><img src="../../static/main/images/MARK.jpg"></a>        
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <p class="grey-text text-darken-2">12 Jan 2021</p> <br>
            <p ><b>Why should you choose a marketplace rather than dealing directly from an Individual?</b></p> 
            <p>When you decide to buy a business directly from a complete stranger,  [...]</p>
        </div>
        <div class="card-action">
          <a href="{% url 'whymarketplace' %}" class="deep-orange-text btn white-text deep-purple right" style="font-weight: 750;">Read More</a>
        </div>
      </div>
    </div>         
  </div>
  </div>
  <div class="center">
  <div class="pagination">
  <a onclick="Topage1()">&laquo;</a>
  <a onclick="Topage1()" class="active" id="lpage1">1</a>
  <a onclick="Topage2()" id="lpage2" type="button" >2</a>
  <a onclick="Topage2()">&raquo;</a>
  </div>
</div>
</div>
<div id="mob-blog" style="display: none;">
  <div class="row" id="page1m">        
      <div class="col s12 m12 l4" >
          <div class="card hoverable" id="0" onclick="dp(this.id)">
          <div class="card-image">
             <img src="../../static/main/images/Lev content.jpg" class="blog_imgs"   width="100%">
              <a href="{% url 'leverage' %}" id="0"class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content mcard-content" >
            <p class="grey-text">12 Jan 2021</p>                
            <p><b>Is content-creation really that powerful?</b></p>
            <p>When you buy a website, your main fear is you do not want your rankings and traffic to diminish.<b> What do you do to keep up this stability? [...]</b></p>
        </div>
         <div class="card-action mcard-action">
            <a href="{% url 'leverage' %}" class="deep-orange-text deep-purple white-text btn" style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
      
      <div class="col s12 m12 l4" >
          <div class="card hoverable"   id="1"  onclick="dp(this.id)">

          <div class="card-image">
             <img src="../../static/main/images/blog1_thumb.jpg" class="blog_imgs" width="100%">
              <a href="{% url 'onlinebusiness' %}" id="1" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large">chrome_reader_mode</i></a>
          </div>
          <div class="card-content mcard-content" >
            <p class="grey-text">12 Jan 2021</p>               
            <p><b>Why Should You Own an Online Business?</b> </p>
            <p>More and More people are pivoting towards newer Business Opportunities and one of them being “Online Business”. [...]</p>
        </div>
         <div class="card-action mcard-action" >
            <a href="{% url 'onlinebusiness' %}" class="deep-orange-text btn deep-purple white-text" style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
      <div class="col s12 m12 l4" >
          <div class="card hoverable" id="2"  onclick="dp(this.id)">

          <div class="card-image">
             <img src="../../static/main/images/MARK.jpg" class="blog_imgs"  width="100%">
              <a href="{% url 'whymarketplace' %}" id="2" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content mcard-content" >
            <p class="grey-text">12 Jan 2021</p>                
            <p><b>Why should you choose a marketplace rather than dealing directly from an Individual?</b></p>
            <p>When you decide to buy a business directly from a complete stranger, [...]</p>
        </div>
         <div class="card-action mcard-action" >
            <a href="{% url 'whymarketplace' %}" class="deep-orange-text btn white-text deep-purple " style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
      <div class="col s12 m12 l4" >
          <div class="card hoverable" id="3"  onclick="dp(this.id)">

          <div class="card-image">
             <img src="../../static/main/images/MAIL.jpg" class="blog_imgs"  width="100%">
              <a href="{% url 'email_list' %}" id="2" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content mcard-content" >
            <p class="grey-text">12 Jan 2021</p>                
            <p><b>Are you using a Personal or a Business E-mail ID?</b></p>
            <p>This might sound completely unnecessary to a newbie, but the open rate of your mail by the receiver depends on how you identify yourself in the mail [...]</p>
        </div>
         <div class="card-action mcard-action" >
            <a href="{% url 'email_list' %}" class="deep-orange-text btn white-text deep-purple " style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
   </div>
   <div id="page2m" class="row" style="display: none;">
    <div class="col s12 m12 l4" >
          <div class="card hoverable"  id="4"  onclick="dp(this.id)">

          <div class="card-image">
             <img src="../../static/main/images/Automation.jpg" class="blog_imgs"  width="100%">
              <a href="{% url 'automation' %}" id="2" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content mcard-content" >
            <p class="grey-text">12 Jan 2021</p>                
            <p><b>How can you use marketing automation to your advantage?</b></p>
            <p>Marketing automation is nothing but an enabler that helps in managing the various marketing processes across various channels automatically [...]</p>
        </div>
         <div class="card-action mcard-action" >
            <a href="{% url 'automation' %}" class="deep-orange-text btn white-text deep-purple " style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
      <div class="col s12 m12 l4" >
          <div class="card hoverable"  id="5"  onclick="dp(this.id)">

          <div class="card-image">
             <img src="../../static/main/images/FACTORS.jpg" class="blog_imgs"  width="100%">
              <a href="{% url 'factors' %}" id="5" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content mcard-content" >
            <p class="grey-text">12 Jan 2021</p>                
            <p><b>What Factors Influence a Websites Value ?</b></p>
            <p>For a profitable exit, it is important to know the factors that actually determine the value of a website [...]</p>
        </div>
         <div class="card-action mcard-action" >
            <a href="{% url 'factors' %}" class="deep-orange-text btn white-text deep-purple " style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
     
   </div>
   
 

<div class="pagination center">
  <a onclick="Topage1m()">&laquo;</a>
  <a onclick="Topage1m()" class="active" id="mpage1">1</a>
  <a onclick="Topage2m()" id="mpage2" type="button" >2</a>
  <a onclick="Topage2m()">&raquo;</a>
</div>
 
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

  <script>
       function Topage2(){                
        document.querySelector("#page2").style.display="block";  
        document.querySelector("#page1").style.display="none"; 
        document.getElementById("lpage2").classList.add("active");    
        document.getElementById("lpage1").classList.remove("active");      
    }
    function Topage1(){                
        document.querySelector("#page2").style.display="none";  
        document.querySelector("#page1").style.display="block"; 
        document.getElementById("lpage1").classList.add("active");    
        document.getElementById("lpage2").classList.remove("active");      
    }
    function Topage1m(){
      document.querySelector("#page2m").style.display="none";  
        document.querySelector("#page1m").style.display="block"; 
        document.getElementById("mpage1").classList.add("active");    
        document.getElementById("mpage2").classList.remove("active"); 
    }
    function Topage2m(){
      document.querySelector("#page2m").style.display="block";  
        document.querySelector("#page1m").style.display="none"; 
        document.getElementById("mpage1").classList.remove("active");    
        document.getElementById("mpage2").classList.add("active"); 
    }
    function myFunction(x) 
  {
             if (x.matches)
              { // If media query matches  
                  document.querySelector("#blogs").style.display="none";
                  document.querySelector("#mob-blog").style.display="block";
                 for(var i=0;i<ele.length;i++)
                 {
                     ele[i].style.display="none";
                     eles[i].style.display="none";
                     ic[i].style.display="none"
                 }                            
              }    
              else
              {
                  document.querySelector("#blogs").style.display="block";
                  document.querySelector("#mob-blog").style.display="none";
              }
    }

function dp(id){
  if(b[id]==1)
    hd(id);
  else
    {
      ele[id].style.display="block";
    eles[id].style.display="block";
    ic[id].style.display="block"; 
    b[id]=1;
    }

} 
function hd(id){
   ele[id].style.display="none";
  eles[id].style.display="none";
  ic[id].style.display="none";  
  b[id]=0;
}

var ele=document.getElementsByClassName("mcard-content");
var eles=document.getElementsByClassName("mcard-action");
var ic=document.getElementsByClassName("card-icon");
b=Array();
b.length=ele.length;
for(i=0;i<b.length;i++)
{
  b[i]=0;
}

for (i=0;i<b.ele;i++)
  {
    if(b[i]==0)
      dp(i);
    else
      hd(i);
  }
var x = window.matchMedia("(max-width: 950px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction)
  

  </script>

<style type="text/css">
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #312a50;
  color: white;
  border: 1px solid #1F2232;
}

.pagination a:hover:not(.active) {background-color: #312a50;color:#fff;}
p {
  line-height: 2rem;
  font-size: 18px;
  margin-left: 1rem;
  margin-right: 1rem;
}
a{
    cursor: pointer;
  }
</style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
 <script type="text/javascript">
     var elem = document.querySelector('.sidenav');
  var instance = new M.Sidenav(elem);
  </script>
 
{% endblock %}