<!DOCTYPE html>
<html>
<head>
	<title>Valuation Tool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- CSS  -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/main/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/main/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   

</head>
<body style="background-color: #312a50;">
	<nav class=" deep-purple" role="navigation">
    	<div class="nav-wrapper container"style=" width: 100%; ">
			<a  href="{% url 'home' %}" class=" brand-logo white-text" style="font-family: Rancho;font-size: 3.5rem;margin-top:0.35rem;"><img src="../../static/main/images/FlipEasy.png" width="222" height="55"></a>

      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="{% url 'blog'%}">Blog</a> </li>
        <!-- <li><a class="white-text" href="{% url 'marketplace' %}">Marketplace</a></li> -->
        {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="white-text" href="{% url 'about_us' %}">About Us</a></li>
        <li><a class="white-text" href="{% url 'contact_us' %}">Contact Us</a></li>
        <li style="line-height: 3rem; margin-top:0.75rem;"><a class="deep-purple-text white right modal-trigger" style="font-weight: bold;border-radius:0.3rem;" href="{% url 'valuationtool' %}" >Free Valuation Tool</a></li>
      </ul>

      <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="sidenav">
        <li style=" background-color: #312a50;border-radius: 2rem;"><a class="white-text center" href="#" style="font-weight: 500;font-family: Rancho;font-size: 20px;">FlipEazy</a></li>
        <li><a class="center" href="{% url 'home' %}">Home</a></li>
        <li><a class="center" href="{% url 'blog' %}">Blogs</a></li>
        <!-- <li><a class="center" href="#">MarketPlace</a></li> -->
        {% if user.is_authenticated %}
        <li><a class="center" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="center" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="center" href="{% url 'about_us' %}">About Us</a></li>
        <li><a class="center" href="{% url 'contact_us' %}">Contact Us</a></li>
        <li><a class="center" href="{% url 'valuationtool' %}">Free Valuation Tool</a></li>
      </ul>
    </div>
    </nav>
   
    <div class="">
      <div class="row" style="margin-bottom: 10em;margin-top: 7rem;">
        <div class="col s12 l7 m7" >
            <h4 class="oranget" style="">Estimated Worth of Your  <br> Website</h4>
            <p class="pricet center" style="font-weight: bold;font-size: 5rem;margin-top:4.6rem;" id="output"></p>
           <div style="margin-top: 4rem;display: flex;justify-content: center;">
            <a href="{% url 'sellnow' %}" class="btn-large center " style=" background-color:#D2683C;border-radius: 5rem;font-weight: 700 !important;letter-spacing: 3px; font-family: PT Sans";>SELL NOW</a>          
          </div> 
          <h6 class="white-text disclaimer"><b>*</b><b style="color:#D2683C;">Disclaimer: </b> <b style="margin-left: 1rem;"> The value shown here is just an approximate figure</b></h6>
        </div>
        <div class="col s12 l4 m5" >
            <!-- <canvas id="myChart" width="500"></canvas> -->
            <img src="../../static/main/images/undraw_visual_data_b1wx (3).svg" width="100%" height="auto">
        </div>
      </div>
  </div>
      <script>
        var value=sessionStorage.getItem("recommended")
        console.log(value)
        document.getElementById("output").innerHTML="$"+value.toString()
      </script>
</body>
<style type="text/css">
  .disclaimer{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-family: 'Montserrat';
  }
  .oranget{
    color:#D2683C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.4;
  }
  .pricet{
    color:#D2683C;
    font-family: 'Open Sans',sans-serif;
    font-weight: 900;
    font-size: 7rem !important;
  }
</style>
<script type="text/javascript">
  var elem = document.querySelector('.sidenav');
var instance = new M.Sidenav(elem);



document.addEventListener('DOMContentLoaded', function() {
 var elems = document.querySelectorAll('.carousel');
 var instances = M.Carousel.init(elems, options);
});


</script>
</html>
    