{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
	<title>Valuation Tool</title>
</head>
  <div class="">
      <div class="row" style="margin-bottom: 10em;margin-top: 7rem;">
        <div class="col s12 l7 m7" >
            <h4 class="oranget" style="">Estimated Worth of Your  <br> Website</h4>
            <p class="pricet center" style="font-weight: bold;font-size: 5rem;margin-top:4.6rem;">${{profit}}</p>
           <div style="margin-top: 4rem;display: flex;justify-content: center;">
            <a href="{% url 'sellnow' %}" class="btn-large center " style=" background-color:#D2683C;border-radius: 5rem;font-weight: 700 !important;letter-spacing: 3px; font-family: PT Sans";>SELL NOW</a>          
          </div> 
          <h6 class="white-text disclaimer"><b>*</b><b style="color:#D2683C;">Disclaimer: </b> <b style="margin-left: 1rem;"> The value shown here is just an approximate figure</b></h6>
        </div>
        <div class="col s12 l4 m5" >
            <!-- <canvas id="myChart" width="500"></canvas> -->
            <img src="../../static/main/images/undraw_visual_data_b1wx (3).svg" width="100%" height="auto">
        </div>
      </div>
  </div>
      <!-- <script>
        var value=window.sessionStorage.getItem("recommended")
        console.log(value)
        document.getElementById("output").innerHTML="$"+value.toString()
      </script> -->

<style type="text/css">
  .disclaimer{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-family: 'Montserrat';
  }
  .oranget{
    color:#D2683C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.4;
  }
  .pricet{
    color:#D2683C;
    font-family: 'Open Sans',sans-serif;
    font-weight: 900;
    font-size: 7rem !important;
  }
</style>
<script type="text/javascript">
  var elem = document.querySelector('.sidenav');
var instance = new M.Sidenav(elem);



document.addEventListener('DOMContentLoaded', function() {
 var elems = document.querySelectorAll('.carousel');
 var instances = M.Carousel.init(elems, options);
});


</script>

      {% endblock %}