{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
	<title>Contact_us</title>
</head>
  <!-- Navbar -->
    <!-- Banner -->
  <div class="banner" style="background-image: url(../../static/main/images/homepage_background.png);">
    <div class="section no-pad-bot">
      <div class="container">        
        <h1 class="center white-text" style="font-family: 'Pridi', serif;margin-bottom: 6%;">Contact Us </h1>                
        <div style="text-align: center; height: 10rem;">          
             <a href="{% url 'buysite' %}" class="reddishblack-text btn-large white  waves-effect link-button" >Buy a Site</a> 
              <a href="{% url 'sellsite' %}" class="reddishblack-text btn-large white  waves-effect link-button">Sell a Site</a>                                 
        </div>     
      </div>
    </div>
  </div>
 

<form action="{% url 'contactus_form' %}" method="POST">
    {% csrf_token %}
<div class="container row" style="margin-top: 2rem;">
  <div class="card col l8 offset-l2  m8 offset-m2 s12" style="padding:1.2rem;background-color: rgb(243, 244, 245);">
    <h4 class="center" style="font-weight: 600;">Contact Us</h4>
    <hr style="width: 30%;margin: auto ; border-color:#00c4b5;">
      <div class="card" style="padding: 1.2rem;margin-top: 1.9rem;">
        <div class="row">          
          
          <div class="input-field col s6">
            <i class="material-icons prefix">account_box</i>
            <input id="firstname" name="name" type="text" class="validate">
            <label for="firstname">Full Name</label>
          </div>
          
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" name="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
           
          <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea" name="message"></textarea>
          <label for="icon_prefix2">Enter Your Message Here </label>
        </div>
        <div class="col s12 l7 ">
           <button class="btn-large waves-effect deep-purple right" style="border-radius: 0.5rem;font-weight: 600;" type="submit" name="action">Submit</button> 
        </div>
      </div>
    </div>  
  </div>  
</div>
</form>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
<script type="text/javascript">
     var elem = document.querySelector('.sidenav');
  var instance = new M.Sidenav(elem);
</script>

{% endblock %}