{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center">Buy and Sell<br>Profitable Digital Assets</h1>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large white reddishblack-text waves-effect" style="padding:0 2.5rem;border-radius: 0.3rem; font-weight: bold;margin-right: 30px;">Buy a Site</a>
          <a href="#" id="download-button" class="btn-large white reddishblack-text waves-effect" style="padding:0 2.5rem;border-radius: 0.3rem;font-weight: bold;margin-left: 30px;">Sell a Site</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax" style="background-color: #312a50;object-fit: cover;"><img src="{% static  'main/images/homepage_background.png' %}"></div>
  </div>
<div class="row">
  <h3 class="center deep-purple-text">How it Works ?</h3><br>

</div>
 <div class="row">

  <div class="col s6" style="padding-left: 9rem;">
    <div class="col s8 deep-purple-text">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from.Contaru to popilar belied is not</p>
        </div>
        <div class="col s1"><i class="material-icons medium reddishblack-text"style="margin-top:5rem;padding-right: 2rem;">search</i></div>
    <br><br>
    <div class="col s8">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from.Contaru to popilar belied is not</p>
        </div>
        <div class="col s1"><i class="material-icons medium reddishblack-text"style="margin-top: 4rem;padding-right: 2rem;">star_border</i></div>
    <div class="col s8">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from.Contaru to popilar belied is not</p>
        </div>
        <div class="col s1"><i class="material-icons medium reddishblack-text"style="margin-top: 5rem;padding-right: 2rem;">shopping_cart</i></div>

  </div>

  <div class="col s6">
    <img src="{% static 'main/images/background2.png' %}" width="735rem" height="570rem" >
  </div>
</div>
<div class="row" style="margin-top:3rem;">
  <div class="col s6">
    <img src="{% static 'main/images/background3.png' %}" width="735rem" height="500rem" >
  </div>
  <div class="col s1"></div>
  <div class="col s5 ">
    <div class="col s9">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from so bla.Contrary to popular ipsim gipsum blah blah blah blah</p>
        </div>
        <div class="col"><i class="material-icons medium reddishblack-text"style="margin-top: 60px;">search</i></div>
    <div class="col s9">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from so bla.Contrary to popular ipsim gipsum blah blah blah blah</p>
        </div>
        <div class="col"><i class="material-icons medium reddishblack-text"style="margin-top: 60px;">star_border</i></div>
    <div class="col s9">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from so bla.Contrary to popular ipsim gipsum blah blah blah blah</p>
        </div>
        <div class="col"><i class="material-icons medium reddishblack-text"style="margin-top: 60px;">shopping_cart</i></div>

  </div>
</div>
{% endblock %}