{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <!-- Navbar -->
  <!--- <nav class=" deep-purple" role="navigation">
    <div class="nav-wrapper container"style=" width: 100%; ">
      <a  href="#" class=" brand-logo white-text" style="font-family: Rancho;font-size: 3.5rem;">FlipEazy</a>

      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="#">Blog</a> </li>
        <li><a class="white-text" href="#">Marketplace</a></li>
        <li><a class="white-text modal-trigger"data-target="modal1" href="#">Login</a></li>
        <li><a class="white-text" href="#">Contact Us</a></li>
        <li style="line-height: 3rem; margin-top:0.75rem;"><a class="deep-purple-text white right modal-trigger" data-target="modalid2" style="font-weight: bold;border-radius:0.3rem;" href="#" >Free Valuation Trial</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->
  <!-- Navbar -->
  <!-- LOGIN/SIGNUP(Modal) -->

  <!-- Banner -->
  <div class="banner">
    <div class="section no-pad-bot">
      <div class="container">        
        <h1 class="center white-text">Buy and Sell</h1>
        <h2 class="center white-text" style="margin-top: 1rem;">Quality Low-End Websites</h2>
        <div style="text-align: center; height: 10rem;">          
             <a href="{% url 'buysite' %}" class="reddishblack-text btn-large white  waves-effect link-button" >Buy a Site</a> 
              <a href="{% url 'sellsite' %}" class="reddishblack-text btn-large white  waves-effect link-button">Sell a Site</a>                                 
        </div>     
      </div>
    </div>
  </div>

  <div class="center"><h3 class="headings">Accepted Monetization Methods</h3></div>      

  <div class="row" style="margin: auto;text-align: center;">
    <div class="col s4 m4 ">
        <img src="../../static/main/images/adwords.svg" class="icons">
        <p  class="texts"  style="">Display Advertising</p><br>         
    </div> 
     <div class="col s4 m4">
        <img src="../../static/main/images/affiliate.svg" class="icons">
        <p  class="texts">Affiliate Marketing</p><br>         
    </div> 
     <div class="col s4 m4 ">
        <img src="../../static/main/images/delivery.svg"  class="icons">
        <p class="texts">E-Commerce Websites</p><br>         
    </div> 
  </div>

  <!-- Banner -->
<div class="row">
  <h3 class="center deep-purple-text">How it Works ?</h3><br>
</div>
<div class="row">
  <!-- Info -->
  <div class="col s6" style="padding-left: 9rem;">
    <div class="col s8 deep-purple-text">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from.Contaru to popilar belied is not</p>
        </div>
        <div class="col s1"><i class="material-icons medium reddishblack-text"style="margin-top:5rem;padding-right: 2rem;">search</i></div>
    <br><br>
    <div class="col s8">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from.Contaru to popilar belied is not</p>
        </div>
        <div class="col s1"><i class="material-icons medium reddishblack-text"style="margin-top: 4rem;padding-right: 2rem;">star_border</i></div>
    <div class="col s8">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from.Contaru to popilar belied is not</p>
        </div>
        <div class="col s1"><i class="material-icons medium reddishblack-text"style="margin-top: 5rem;padding-right: 2rem;">shopping_cart</i></div>

  </div>

  <div class="col s6">
    <img src="../../static/main/images/background2.png" width="735rem" height="570rem" >
  </div>
</div>
<div class="row" style="margin-top:3rem;">
  <div class="col s6">
    <img src="../../static/main/images/background3.png" width="735rem"height="500rem" >
  </div>
  <div class="col s1"></div>
  <div class="col s5 ">
    <div class="col s9">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from so bla.Contrary to popular ipsim gipsum blah blah blah blah</p>
        </div>
        <div class="col"><i class="material-icons medium reddishblack-text"style="margin-top: 3.8rem;">search</i></div>
    <div class="col s9">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from so bla.Contrary to popular ipsim gipsum blah blah blah blah</p>
        </div>
        <div class="col"><i class="material-icons medium reddishblack-text"style="margin-top: 3.8rem;">star_border</i></div>
    <div class="col s9">
          <h5>Search Marketplace</h5><p>Contrary to popular belief.Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature from so bla.Contrary to popular ipsim gipsum blah blah blah blah</p>
        </div>
        <div class="col"><i class="material-icons medium reddishblack-text"style="margin-top: 3.8rem;">shopping_cart</i></div>

  </div>
</div>

{% endblock %}