<!DOCTYPE html>
<html>
<head>
  <title>LeverageControl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/main/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/main/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../static/main/css/preloader.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body style="background-color: rgba(205,205,205,0.01);font-family: PT Sans;" onload="fun()">
  <div class="page-loader">
    <div class="container">
   
      <div class="loader"></div> 
    </div>
</div>
  <script type="text/javascript">
    function fun(){
    document.querySelector(".page-loader").style.display="none";
  }

     $(window).load(function(){
                $('.page-loader').fadeOut();                                                                        
            });
  </script>
  <nav class=" deep-purple" role="navigation">
    <div class="nav-wrapper container"style=" width: 100%; ">
      <a  href="{% url 'home' %}" class=" brand-logo white-text" style="font-family: Rancho;font-size: 3.5rem;margin-top:0.35rem;"><img src="../../static/main/images/FlipEasy.png" width="222" height="55"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="{% url 'blog' %}">Blog</a> </li>
        <!-- <li><a class="white-text" href="{% url 'marketplace' %}">Marketplace</a></li> -->
        {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="white-text" href="{% url 'about_us' %}">About Us</a></li>
        <li><a class="white-text" href="{% url 'contact_us' %}">Contact Us</a></li>

        <li style="line-height: 3rem; margin-top:0.75rem;"><a class="deep-purple-text white right modal-trigger" href="{% url 'valuationtool' %}" style="font-weight: bold;border-radius:0.3rem;" >Free Valuation Tool</a></li>
      </ul>

      <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="sidenav">
        <li style=" background-color: #312a50;border-radius: 2rem;"><a class="white-text center" href="#" style="font-weight: 500;font-family: Rancho;font-size: 20px;">FlipEazy</a></li>
        <li><a class="center" href="{% url 'home' %}">Home</a></li>
        <li><a class="center" href="{% url 'blog' %}">Blogs</a></li>
        <li><a class="center" href="{% url 'contact_us' %}">Contact Us</a></li>
        <li><a class="center" href="{% url 'about_us' %}">About Us</a></li>
        <li><a class="center" href="{% url 'valuationtool' %}">Free Valuation Tool</a></li>
        <!-- <li><a class="center" href="#">MarketPlace</a></li> -->
        {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        
      </ul>
    </div>
  </nav>
    <div class="parallax"><img src="../../static/main/images/Lev content.jpg"  width="100%" alt="leverage content" ></div><br><br>
    <h1 class="center"style="color:#263b5e;font-weight: 500;"><strong>How to leverage content to scale up your newly purchased website?</strong></h1>
    <div class="container" style="margin-top: 3rem;">
      <p style="line-height: 1.5;font-size:1.6rem;">Content Creation.</p>

        <p style="" id="content">We’ve all come across people who tell us to create content if you want to scale up.</p>
        <p id="content">And guess what?</p>
        <p id="content">They are absolutely right. Upping your content game is something you must always strive for. </p>
        <p id="content"> When you own a content-based website, it is important that you cultivate the habit of creating content once a week or so.</p>
        <p id="content">Sometimes, for most people, they are satisfied with the site that is generating passive income and they are not interested in experimenting with new stuff. </p>
        <p id="content">But, the truth is they are going to lose more than gain. How?</p>
        <p id="content">Google hates websites that are not keeping themselves updated every now and then and it penalizes them by pushing their websites down the search results.</p>
        <p id="content">Bad, right?</p>
        
        <h2 style="font-weight: 600;">Is content-creation really that powerful?</h2>

        
        <p id="content">Yes, indeed.</p>
        <p id="content">When you buy a website, your main fear is you do not want your rankings and traffic to diminish.</p>
        <p id="content">What do you do to keep up this stability?</p>
        <p id="content">Well, some people might adhere to creating backlinks, use CRO software to increase conversions, or concentrate on off-page SEO.</p>
        <p id="content">But you must choose to take that path only if you consider yourself a pro and have hands-on experience in those domains.</p>
        <p id="content">Otherwise, it might cost you a lot.</p>
        <p id="content">But if you choose to take the Content-creation path there is always a positive ROI.</p>
        <p id="content">Why?</p>
        <p id="content">Because when you are an authoritative site for a particular niche, any new content you post will be rewarded by Google in the form of high rankings. </p>
        <p id="content">The authority juice that was already existing will be passed on to the new content post and eventually rank much higher without any link building activity. </p>
        
        <p id="side-headings">Quick Fixes :</p>
        
        <p id="content">When you purchase a new website there are always certain things you can take advantage of related to content.</p>
        <p id="content">Sometimes the seller, though aware of such things, will turn a blind eye, thinking that it is not much of importance.</p>
      
        <p id="content">But guess what?</p>
        <p id="content">You can always use these “Quick fixes” to your advantage.</p>
        <p id="content">Want to know how?</p>
        <p id="content">Let us dive in,</p>
        
        <p style="border-left:  5px solid   #44a6ff;padding: 1rem;background-color: #d4ebf2;"id="side-headings">Fix#1 Optimizing Old content :</p>
        <div style="border-radius: 1rem;border:4px solid #312a50;margin-top: 2rem;padding: 1rem;">
        <p  id="content" >One of the best ways to improve your rankings is to optimize keywords that are under-utilized.</p> 
        
        
        <p id="content">The strategy, if implemented in the right way can show you results in no time. </p>
        <p id="content">If an article is ranking for a particular keyword, Google usually shows your article in the search results for that keyword, but it might also show the same result when a keyword that is similar to your existing keyword is being searched, though the keywords have not been mentioned in the article. </p>
        <p id="content">But the site must be ranking on page 2 for a similar keyword, only because that keyword has not been mentioned in the article. </p>
        <p id="content">These keywords are what we call Under-utilized keywords. </p>
        <p id="content">So what you can do is, try adding those relevant keywords into your article and see the magic happen. Google will push your website on top of the search results, resulting in a boost in traffic. </p>
        </div>
        <p id="side-headings" style="border-left:  5px solid   #d4e157  ;padding: 1rem;background-color: #f0f4c3;">Fix#2 Keyword Cannibalization :</p>
        <div style="border-radius: 1rem;border:4px solid #312a50;margin-top: 2rem;padding: 1rem;">
          <p id="content">Sometimes, most of the websites can be a victim of keyword cannibalization, If ignored it can be a nightmare for most of the business owners.</p>
          
          <p id="content"> So, </p>
          <p id="content"> What exactly is Keyword Cannibalization? </p>
          <p id="content"> It is a situation where multiple pages on your website end up ranking for a similar keyword.  </p>
          <p id="content"> And why is that a big deal? Will that not increase my traffic? </p>
          <p id="content"> Well, </p>
          <p id="content">Google, as a webpage crawler wants to understand each and every information present on your page and rank it accordingly, but when it stumbles upon two pages that contain similar content it gets confused and ends up ranking none of your articles. </p>
        </div>
        <h2 style="font-weight: 600;">How to overcome the situation of keyword cannibalization?</h2>

        <p id="side-headings"><i class="material-icons">play_arrow</i>Re-Optimizing Pages :</p>
        
        <p id="content">Though you have caused the cannibalization to happen accidentally, you can always fix this issue by Re-optimizing or De-optimizing the pages. </p>
        
        <p id="content"> This usually happens for e-commerce websites. Let us say you are selling a product which has 4 different colors, and it is quite common to notice that, though they have unique urls, it is quite evident that they have a similar title tag, H1 tag and also there is no clear-cut differentiation among all the four.</p>
        <p id="content">So you can actually re-optimize the pages to show some kind of differentiation and can avoid cannibalization issues.</p>

        <p id="side-headings"><i class="material-icons">play_arrow</i>Canonical Tags :</p>
        <p id="content">Canonical tags are the best way to avoid any kind of cannibalization issues. </p>
        
        <p id="content">What does it do?</p>
        <p id="content">When you have two pages ranking for a similar term, it is referred to as content duplication. When you create a canonical tag from a least important page to the other, you basically are telling google to rank the most important page that is driving all the traffic.</p>
        <p id="content">It helps in ranking the page you want to rank.</p>
        <p id="content">There are many more ways to avoid cannibalization, if you want more info please refer to this article by Semrush.</p>
        
        <h2 style="font-weight: 600;">Pumping in additional content to your new website.</h2>
        <p id="side-headings"><i class="material-icons">play_arrow</i>Competitive analysis:</p>
         <p id="content">When you are planning to pump in some new articles to your website it is important to understand whether there are any content gaps.</p>
          <p id="content">So tools like ahrefs and semrush kind of make this job easier by helping you understand what are the potential keywords that your competitors are ranking for and you can capitalize on these keywords to your advantage.</p>
           <p id="content">The purpose of doing this is to understand what topics are to be covered, and how you can pivot towards various sub-niches.</p>
         <p id="side-headings"><i class="material-icons">play_arrow</i>Internal Linking:</p>
         <p id="content">This is basically done to improve your website navigation for your visitors. It actually determines how well its site is structured.</p>
          <p id="content"> If there are articles that drive the most of the traffic and  do not have proper internal linking, you can actually fix by adding posts relevant to those articles and add internal links in the money making posts which in turn helps driving that traffic to your other informational posts.</p>
           <p id="content">This practice helps your articles that are ranking in the 2nd page to land on the first page of the search result. </p>
            <p id="content">While building internal links don’t randomly place them, instead understand the topic of the article and then if you have an article that supports the other article then it must be utilized for building internal links so that the link juice is passed on.</p>

         <p id="side-headings"><i class="material-icons">play_arrow</i>Horizontal Content Creation: </p>
         <p id="content">When you are in a niche, once you are done with writing all the articles on mainstream topics, it is also important to write articles on sub-niches that can support the mainstream topics. </p>
          <p id="content"><strong>For example:</strong>  Let us your primary article focus on “Best laptops of 2020” now what you can do is pivot to a sub-niche and you can probably write an article that focuses on “Best laptops for gaming in 2020”.</p>
           <p id="content">Now, you got yourself a sub-niche that is Laptops for gaming and you can keep building on the sub-niche and now you have created yourself an opportunity for horizontal growth.</p>

        <div style="margin:1rem 0rem;padding: 1rem;border-radius: 1rem;border:4px solid #312a50;">
          <p id="side-headings">CONCLUSION :</p>
          <p id="content">We hope we’ve given you all the necessary information on how you can leverage content to grow your newly purchased website. </p>
          <p id="content">To summarize the whole post:</p>
          
            <p id="content"><i class="material-icons">play_arrow</i>  We’ve mentioned how you can capitalize on the quick fixes that is, how to optimize or update old content and we’ve also mentioned how you can fix keyword cannibalization.</p>
            <p id="content"><i class="material-icons">play_arrow</i> We’ve covered the added advantage of creating content for your sub-niches and how you can rank them in the first page without the need of backlinks</p>
            <p id="content"><i class="material-icons">play_arrow</i> We also shared the importance of website structuring through internal linking that can help your website rank on page1.</p>
          
          <p id="content">Leveraging content to your newly purchased website is the most important aspect to focus on if you want to scale and turn it into a 6-figure business model.</p>
        </div>
        
    </div>
    <br>
    <h4 class="center" style="font-weight: 500; margin-bottom: 2rem;">Check Out Our Recent Posts</h4>
    <div class="row">        
      <div class="col s12 m12 l4">
          <div class="card hoverable"  id="0"  onclick="dp(this.id)">
          <div class="card-image">
             <img src="../../static/main/images/Lev content.jpg" class="blog_imgs" width="100%">
              <a href="{% url 'leverage'%}"class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content">
            <p class="grey-text">19 Sept 2020</p>                
            <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
        </div>
         <div class="card-action">
            <a href="{% url 'leverage'%}" class="deep-orange-text deep-purple white-text btn" style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
      
      <div class="col s12 m12 l4">
          <div class="card hoverable"  id="1" onclick="dp(this.id)">

          <div class="card-image">
             <img src="../../static/main/images/blog1_thumb.jpg" class="blog_imgs"  width="100%">
              <a href="{% url 'onlinebusiness'%}" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large">chrome_reader_mode</i></a>
          </div>
          <div class="card-content">
            <p class="grey-text">19 Sept 2020</p>               
            <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
        </div>
         <div class="card-action">
            <a href="{% url 'onlinebusiness'%}" class="deep-orange-text btn deep-purple white-text" style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
      <div class="col s12 m12 l4">
          <div class="card hoverable"  id="2" onclick="dp(this.id)">

          <div class="card-image">
             <img src="../../static/main/images/MARK.jpg" class="blog_imgs" >
              <a href="{% url 'whymarketplace'%}" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content">
            <p class="grey-text">19 Sept 2020</p>                
            <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
        </div>
         <div class="card-action">
            <a href="{% url 'whymarketplace'%}" class="deep-orange-text btn white-text deep-purple " style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
<script type="text/javascript">
  var elem = document.querySelector('.sidenav');
var instance = new M.Sidenav(elem);


function myFunction(x) 
     {
                if (x.matches)
                 { // If media query matches
    
    
                
               
                    for(var i=0;i<ele.length;i++)
                    {
                        ele[i].style.display="none";
                        eles[i].style.display="none";
                        ic[i].style.display="none"
                    }
                      
            
                  }    
    }

function dp(id){
  if(b[id]==1)
    hd(id);
  else
    {
      ele[id].style.display="block";
    eles[id].style.display="block";
    ic[id].style.display="block"; 
    b[id]=1;
    }

} 
function hd(id){
   ele[id].style.display="none";
  eles[id].style.display="none";
  ic[id].style.display="none";  
  b[id]=0;
}

   
var ele=document.getElementsByClassName("card-content");
var eles=document.getElementsByClassName("card-action");
var ic=document.getElementsByClassName("card-icon");
b=Array();
b.length=ele.length;
for(i=0;i<b.length;i++)
{
  b[i]=0;
}

for (i=0;i<b.ele;i++)
  {
    if(b[i]==0)
      dp(i);
    else
      hd(i);
  }
var x = window.matchMedia("(max-width: 900px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction)



</script>
<footer class="page-footer deep-purple" >
  <div class="">
    <div class="row">
      <div class="col l1"></div>
      <div class="col l4 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>
      <div class="col l1"></div>
      <div class="col l4 s12">
        <form action="{% url 'newsletter' %}" method="POST">
          {% csrf_token %}
        <div class="card hoverable" style="padding: 2rem 1rem;background-color: #312a50;">
          <h6 style="font-size: 1.6rem;">Subscribe to Our Newsletter</h6>
          <div class="input-field white-text" >
            <i class="material-icons prefix">mail</i>
            <input name="email_letter" id="email_letter" type="text" class="validate white-text">
            <label for="subs">Enter Your Email Address</label>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="container">
        
    <ul style="display: flex;justify-content: center;">
        <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/google-logo.png"/></a></li>
        <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/facebook-new.png"/></a></li>
        <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/linkedin.png"/></a></li>        
    </ul>
      </div>
  <div class="footer-copyright">
    <div class="container">
      <h6 class="center">All the copyrights are reserved by FlipEazy</h6>
    
    </div>
  </div>
</footer>

<style>
  
  #side-headings{
      font-weight: 900;
      color:#312a50;
      margin-top: 1.2rem;
      font-size: 1.7rem;
  }
#content{
  line-height: 1.9;
  margin-top: 0.8rem;
}
@media only screen and (max-width: 800px){
  h1{
    font-size:3.5rem !important;
    justify-items: auto;
  }
}
@media only screen and (max-width: 400px){
  h1{
    font-size:2.8rem !important;
    justify-items: auto;
  }
}
</style>
</body>

</html>