<!DOCTYPE html>
<html>
<head>
	<title>Why Marketplace ?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/main/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/main/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body style="background-color: rgba(205,205,205,0.01);font-family: PT Sans;">
	<nav class=" deep-purple" role="navigation">
    <div class="nav-wrapper container" style="width: 100%;">
      <a  href="{% url 'home' %}" class=" brand-logo white-text" style="font-family: Rancho;font-size: 3.5rem;margin-top:0.35rem;"><img src="../../static/main/images/FlipEasy.png" width="222" height="55"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="{% url 'blog' %}">Blog</a> </li>
        <!-- <li><a class="white-text" href="{% url 'marketplace' %}">Marketplace</a></li> -->
        {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="white-text" href="{% url 'about_us' %}">About Us</a></li>
        <li><a class="white-text" href="{% url 'contact_us' %}">Contact Us</a></li>

        <li style="line-height: 3rem; margin-top:0.75rem;"><a class="deep-purple-text white right modal-trigger" href="{% url 'valuationtool' %}" style="font-weight: bold;border-radius:0.3rem;" >Free Valuation Tool</a></li>
      </ul>

      <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="sidenav">
        <li style=" background-color: #312a50;border-radius: 2rem;"><a class="white-text center" href="#" style="font-weight: 500;font-family: Rancho;font-size: 20px;">FlipEazy</a></li>
        <li><a class="center" href="{% url 'home' %}">Home</a></li>
        <li><a class="center" href="{% url 'blog' %}">Blogs</a></li>
        <!-- <li><a class="center" href="#">MarketPlace</a></li> -->
        {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="center" href="{% url 'about_us' %}">About Us</a></li>
        <li><a class="white-text" href="{% url 'contact_us' %}">Contact Us</a></li>

        <li><a class="center" href="{% url 'valuationtool' %}">Free Valuation Tool</a></li>
      </ul>
    </div>
  </nav>
    <div ><img class="cover" src="../../static/main/images/MARK.jpg" width="100%"  alt="Marketplace" ></div><br><br>
    <style type="text/css">
      .content{
        line-height: 1.9;
        margin-top: 0.8rem;
      }
      .side-headings{
        font-weight: 900;
        color:#312a50;
        margin-top: 1rem;
        font-size: 1.7rem;
      }
     @media only screen and (max-width: 800px){
  h1{
    font-size:3.5rem !important;
    justify-items: auto;
  }
}
@media only screen and (max-width: 400px){
  h1{
    font-size:2.8rem !important;
    justify-items: auto;
  }
}
    </style>
    <h1 class="center"style="color:#263b5e;font-weight: 500;"><strong>Why should you Buy & Sell websites from a curated Marketplace? </strong></h1>
    <div class="container" style="margin-top: 3rem;">
      <p style="line-height: 1.5;font-size:1.6rem;">First things first,</p>

        <p class="content">Do you prefer everything to be Organized or Unorganized?</p>
        <p class="content">Organized right? Well, who doesn’t?</p>
        <p class="content">When we say organized we mean it. As a marketplace especially related to websites, we take extra caution while analyzing the website and we ensure that we only list those websites that are of quality and those which are scalable.</p>
        <p class="content">Transparency and Accuracy are what we as a marketplace guarantee you. We want to protect both our sellers and buyers by providing a fair price to the seller and listing a quality website for the buyer.</p>

        <h2 style="font-weight: 600;">Why should you choose a marketplace rather than dealing directly from an Individual?</h2>

      	<p style="font-weight: 900;color:#312a50;margin-top: 1.9rem;border-left:  5px solid   #44a6ff;padding: 1rem;background-color: #d4ebf2;font-size: 1.7rem;">For Buyers :</p>
        <div style="border-radius: 1rem;border:4px solid #312a50;margin-top: 2rem;padding: 1rem;">
        <p class="content">Our marketplace completely runs on “TRUST & TRANSPARENCY” and we do not want to make a quick buck by selling you a loss-making website and that which is not scalable.</p>
        
        

        <p  class="content">When you decide to buy a business directly from an individual who is a complete stranger, there are a lot of thoughts that keep running in your head, whether the seller is trustworthy or not. </p>
        <p  class="content">Sometimes it may happen so that the sellers might quote you a higher price than it’s actual worth and there are also chances of misrepresentation of numbers, like the traffic, income, or any black-hat tactics used by the seller. </p>
        <p  class="content">So, as a marketplace, we completely free our buyers from this headache by verifying the website in advance and listing it on our platform. We save a lot of time for the buyers so that they can make quick decisions. </p>
        </div>
        <p style="font-weight: 900;color:#312a50;margin-top: 1rem;border-left:  5px solid   #ff5252;padding: 1rem;background-color: #ffcdd2;font-size: 1.7rem;">For Sellers :</p>
        <div style="border-radius: 1rem;border:4px solid #312a50;margin-top: 2rem;padding: 1rem;">
        <p  class="content">Sometimes there are situations wherein the buyer tells he will only transfer the money after the assets have been transferred to the buyer and the seller tells the money has to be transferred first and then he will be transferring the website and this will keep going on.</p>
        <p  class="content">Clearly, As you can see,</p>
        
       
        <p  class="content">There is a lack of trust between the buyer and the seller. So we kind of want to fill this trust gap and help the buyer and the seller with the whole process of buying and selling a website.</p>

        <p  class="content">So we handle everything right from the verification of the website to migrating the website to the new buyer and at the same time ensure the seller receives the exact amount that has been promised.</p>
        </div>
        <p class="side-headings">Benefits of Buying websites from our Marketplace</p>
        
        <p class="side-headings">1. Variety :</p>
        
        <p class="content" >As a marketplace, we try to keep our portfolio diversified by listing websites that are monetized through Adsense, Affiliate, E-commerce, dropshipping, etc. We give buyers a wide range of options to choose from and provide necessary details accordingly. </p> 
    
        
        <p class="side-headings">2. Transparency :</p>
        
        <p class="content">This is something we don’t compromise on. We do our analysis before listing the website and after the verification process, we make sure we provide all the details like the Monetization method, Backlink profile, Keywords, Domain rating, trust flow, and citation flow. There are no such details that we hold back on.</p>
        

        <p class="side-headings">3. Seller Support :</p>
        
        <p class="content"> If the buyer needs any assistance after purchasing the website, we do offer the 30-day seller support, wherein the seller will actually guide the buyer wherever necessary. </p>
        

        <p class="side-headings">4. Quality Listings :</p>
        <p class="content">We do not intend our buyers to buy any loss-making websites. Since we follow a very strict verification process, we ensure we only list those websites that are making money and at the same time, we ensure the buyer has an opportunity to scale the website.</p>

        <p class="side-headings">5. Migration Process :</p>
        <p class="content">When you buy a website directly from the seller you will have to take care of the migration process on your own and it’s kinda technical if at all you are not good with technical stuff, we offer free migration process.</p>
        
        <br>  
        <p class="side-headings"> Benefits of Selling a website on our Marketplace</p>
        
        <p class="side-headings">1. Free Due-diligence :</p>
        
        <p class="content" >We help you sell a website without any friction, at the same we do the verification part for you without charging any fee if at all the site does not get listed, we help you understand the bottlenecks and will help you fix it, so that you can list on our platform at a later stage. </p> 
    
        
        <p class="side-headings">2. Fair Listing Price :</p>
        
        <p class="content">Accuracy is something we are always striving for, we do not want our sellers to lose out on money and we ensure that we take into account each and every detail so that we will end up giving you the right quote.</p>
        

        <p class="side-headings">3. Buyer pool :</p>
        
        <p class="content">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of de-listing the website from our platform, the maximum timeline we require is 3months.  </p>
        

        <p class="side-headings">4. No listing fee :</p>
        <p class="content">Unlike other marketplaces, we do not charge our sellers for listing their websites on our platform. The only time we charge is after completing a successful sale in the form of commission i.e. 10% of the total transaction.</p>

        <p class="side-headings">5. Hands-off :</p>
        <p class="content">Once you click the submit button and give us the necessary details we do not bug you by calling every day, but in order to protect our buyer’s interest, we expect the seller to provide 30-day support by getting on a call with the new buyer for 30mins to 1hour and guide him in the right direction.</p>
        


        <div style="margin: 2rem 0rem; padding: 1rem;border-radius: 1rem;border:4px solid #312a50;">
          <p class="side-headings">CONCLUSION :</p>
          <p class="content">We hope we’ve given you all the necessary details on why a marketplace is a much better option to Buy & Sell your digital asset. There are very few circumstances where a transaction has been smooth when a buyer or a seller indulges in a transaction individually. </p>
          <p class="content">
            So, if at all you are looking to save some commission fees and want to go ahead and buy a website on your own please ensure you have done your due diligence of that particular website and make sure you ask the right kind of questions to the seller. Otherwise, we are always here to help you out.</p>
        </div>
        
    </div>
    <br>
    
    <h4 class="center" style="font-weight: 500; margin-bottom: 2rem;">Check Out Our Recent Posts</h4>
    <div class="row">        
      <div class="col s12 m12 l4">
          <div class="card hoverable">
          <div class="card-image">
             <img src="../../static/main/images/Lev content.jpg"  id="0" onmouseover="dp(this.id)" ontouchstart="dp(this.id)" ontouchend="hd(this.id)" onmouseout="hd(this.id)"    width="100%">
              <a href="{% url 'leverage' %}"class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content">
            <p class="grey-text">19 Sept 2020</p>                
            <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
        </div>
         <div class="card-action">
            <a href="{% url 'leverage' %}" class="deep-orange-text deep-purple white-text btn" style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
      
      <div class="col s12 m12 l4">
          <div class="card hoverable">

          <div class="card-image">
             <img src="../../static/main/images/blog1_thumb.jpg"  id="1" onmouseover="dp(this.id)" ontouchstart="dp(this.id)" ontouchend="hd(this.id)" onmouseout="hd(this.id)"  width="100%">
              <a href="{% url 'onlinebusiness' %}" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large">chrome_reader_mode</i></a>
          </div>
          <div class="card-content">
            <p class="grey-text">19 Sept 2020</p>               
            <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
        </div>
         <div class="card-action">
            <a href="{% url 'onlinebusiness' %}" class="deep-orange-text btn deep-purple white-text" style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
      <div class="col s12 m12 l4">
          <div class="card hoverable">

          <div class="card-image">
             <img src="../../static/main/images/MARK.jpg"  id="2" onmouseover="dp(this.id)" ontouchstart="dp(this.id)" ontouchend="hd(this.id)" onmouseout="hd(this.id)"  width="100%">
              <a href="{% url 'whymarketplace' %}" class="btn-floating halfway-fab waves-effect waves-light red card-icon"><i class="material-icons large ">chrome_reader_mode</i></a>
          </div>
          <div class="card-content">
            <p class="grey-text">19 Sept 2020</p>                
            <p class=" grey-text text-darken-2">Through our marketing strategies, we ensure that we are able to attract a lot of buyers and help you sell the website quickly and if nobody shows up you always have a choice of </p>
        </div>
         <div class="card-action">
            <a href="{% url 'whymarketplace' %}" class="deep-orange-text btn white-text deep-purple " style="font-weight: 750;">Read More</a>
          </div>
      </div>
      </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
<script type="text/javascript">

  var elem = document.querySelector('.sidenav');
var instance = new M.Sidenav(elem);



document.addEventListener('DOMContentLoaded', function() {
 var elems = document.querySelectorAll('.carousel');
 var instances = M.Carousel.init(elems, options);
});
function myFunction(x) 
  {
             if (x.matches)
              { // If media query matches  
                  document.querySelector("#blogs").style.display="none";
                  document.querySelector("#mob-blog").style.display="block";
                 for(var i=0;i<ele.length;i++)
                 {
                     ele[i].style.display="none";
                     eles[i].style.display="none";
                     ic[i].style.display="none"
                 }                            
              }    
              else
              {
                  document.querySelector("#blogs").style.display="block";
                  document.querySelector("#mob-blog").style.display="none";
              }
    }
function dp(id){
  ele[id].style.display="block";
  eles[id].style.display="block";
  ic[id].style.display="block";   
}
function hd(id){
   ele[id].style.display="none";
  eles[id].style.display="none";
  ic[id].style.display="none";  
}
var ele=document.getElementsByClassName("mcard-content");
var eles=document.getElementsByClassName("mcard-action");
var ic=document.getElementsByClassName("card-icon");

var x = window.matchMedia("(max-width: 950px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction)



</script>
<footer class="page-footer deep-purple" >
  <div class="">
    <div class="row">
      <div class="col l1"></div>
      <div class="col l4 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>
      <div class="col l1"></div>
      <div class="col l4 s12">
        <form action="{% url 'newsletter' %}" method="POST">
          {% csrf_token %}
        <div class="card hoverable" style="padding: 2rem 1rem;background-color: #312a50;">
          <h6 style="font-size: 1.6rem;">Subscribe to Our Newsletter</h6>
          <div class="input-field ">
            <i class="material-icons prefix">mail</i>
            <input id="subs" type="text" class="validate">
            <label for="subs">Enter Your Email Address</label>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="container">
        
    <ul style="display: flex;justify-content: center;">
        <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/google-logo.png"/></a></li>
        <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/facebook-new.png"/></a></li>
        <li><a class="white-text" href="#!"><img src="https://img.icons8.com/fluent/36/000000/linkedin.png"/></a></li>        
    </ul>
      </div>
  <div class="footer-copyright">
    <div class="container">
      <h6 class="center">All the copyrights are reserved by FlipEazy</h6>
    
    </div>
  </div>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
  <script type="text/javascript">
     var elem = document.querySelector('.sidenav');
  var instance = new M.Sidenav(elem);
  
  </script>
</body>
</html>

</body>
</html>