 html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
 .banner{
  width: 100%;
  height: auto;
  background-color: #312a50;
  object-fit: cover;
  background-image: url(../../static/main/images/homepage_background.png);
 }
 .link-button{
  font-weight: bold; 
  display: inline-block;
  margin:1.5rem; 
  padding:0 2.2rem;
  border-radius: 0.5rem !important;  
}