 html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
 .banner{
  width: 100%;
  height:auto;
  background-color: #312a50;
  object-fit: cover;
  background-image: url(images/homepage_background.png);
 }
#adsense,#adwords{
  width:60%;
  height: auto;
  border-radius: 2rem;
  padding:1rem;
  box-shadow: 0px 2px 2px 0px #312a50;
  margin: 2rem 2rem;
}
#amazon{
  width: 90%;
  height: auto;
  border-radius: 2rem;
  padding:1rem;
  box-shadow: 0px 2px 2px 0px #312a50;
  margin: 2rem 2rem;
}
.icon-container{
  width: 23%;
  transition: transform 1s ease;
}
.amaz-container{
  width: 22%;
  transition: transform 1s ease;
}
.icon-container:hover,.amaz-container:hover{
  transform: scale(1.1);
}
.texts{
  font-size: 2rem;
  text-align: center;
  margin: auto;
}
h5{
  text-decoration: none !important ;
  font-weight:700 !important;
  }

.shadow{
  box-shadow: 2px 2px 1px 2px rgba(0,0,0,0.2);
  border-radius:  0.5rem !important;
  
}
.card-head{
  height: 3rem;
  background-color: #312a50;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
   padding: 0.3rem;
   text-align: center;
} 
#bus_list{
  margin-left: 3rem;padding: 1px; font-size: 20px;
}
}
.card-content{
  padding: 1rem 1.5rem;
  text-align: left;
}
span{
  line-height: 2.3rem;
  font-weight: 450 ; 
  font-size: 1.3rem;
}
.headings{
  margin-bottom: 1rem;
  font-weight: bold;
}
.link-button{
  font-weight: 100; 
  display: inline-block;
  margin:1.5rem; 
  padding:0 2.2rem;
  border-radius: 0.5rem !important;  
}
footer li{
  margin-left: 1rem;
} 
  .carousel-cell{
    margin: 0.2rem;
   
  }
  .main-carousel{
    margin-bottom: 6rem;
  }
  .carousel-cell img{
    border-radius: 1.2rem;

  }
  @media only screen and (max-width: 550px){
    .blog_h{
      font-size: 2rem;
    }
  }
  
 @media only screen and (max-width: 650px) {
  .texts  {
    font-size:16px !important; 
  }
.icon-container{
  width: 32%;
  transition: transform 1s ease;
}
.amaz-container{
  width: 32%;
  margin-right: 1rem;
  transition: transform 1s ease;
}
#adsense,#adwords{
  width: 70%;
}
#amazon{
  width: 93%;
}
#amaz{
  margin-left: 2rem;
  margin-top: 0.3rem;
}
  .mob_d{
    font-size: 2.4rem !important; 
  }
   .carousel-cell img{
    
    width: 410px;

  }
/*    #amaz{
    margin-left: 1rem;
    margin-top: 0.7rem;
  }*/
}
@media only screen and (max-width: 875px){
/*    #amazon{
    margin: 1rem !important;
    width: 120% !important; 
  }*/
  .icon-container{
  width: 31%;
  transition: transform 1s ease;
}
.amaz-container{
  width: 33.4%;
  margin-right: 1rem;
  transition: transform 1s ease;
}
#adsense,#adwords{
  width: 70%;
}
#amazon{
  width: 93%;
}
#amaz{
  margin-left: 2rem;
  margin-top: 0.3rem;
}

}

@media only screen and (max-width: 425px){
/*    #amazon{
    margin: 0.5rem !important;
    width: 105% !important; 
  }
  #amaz{
    margin-top: 1rem !important;
    margin-left: 0rem !important;
  }*/
  .link-button{    
    margin: 0.7rem !important;
    padding: 0 1.7rem !important;
  }
}
@media only screen and (max-width: 500px){
/*    #amazon{
    margin-top: 1rem !important;
    width: 110% !important; 
  }
  #amaz{
    margin-left: 3rem !important;
    margin-top: 0rem !important;
  }*/
  .amaz-container{
  width: 31%;
  margin-right: 1rem;
  transition: transform 1s ease;
}

}


  @media only screen and (max-width: 430px) {
  .texts  {
    font-size:14px !important; 
  }
/*  #adsense,#adwords{
    margin: 0.5rem !important;
    width: 95% !important; 
  }
*/.icon-container{
  width: 33%;
  transition: transform 1s ease;
}
.amaz-container{
  width: 32%;
  margin-right: 1rem;
  transition: transform 1s ease;
}
.texts{
  margin-left: 1em;
  margin-top: 0;
}
  .mob_d{
    font-size: 2rem !important; 
  }
  .carousel-cell img{
    
    width: 300px;

  }
/*  #amaz{
    margin: 1rem 1rem !important; 
  }*/

  }